<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- firebase -->
  <meta charset="UTF-8">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <form action="/getDB" method="get">
    <button name="button" type="submit">AllData</button>
  </form>
</body>
  <!-- <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  const firebaseConfig = {
    apiKey: "AIzaSyAosvK3p5a6GoygWAgjZYyhXAmFIh3Mfz0",
    authDomain: "sg-sb-fda40.firebaseapp.com",
    databaseURL: "https://sg-sb-fda40.firebaseio.com",
    projectId: "sg-sb-fda40",
    storageBucket: "sg-sb-fda40.appspot.com",
    messagingSenderId: "905594041956",
    appId: "1:905594041956:web:f9c53d793191640fcf1171",
    measurementId: "G-FYXTDXCJQ9"
  };
  firebase.initializeApp(firebaseConfig);
</script> -->

</html>
